/* CSS code */
body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Added to stack elements vertically */
  height: calc(100vh - 80px); /* Adjust based on your header height */
}

.svg-container {
  width: 50%;
  height: 400px;
  border: 2px solid #444;
  margin-bottom: 20px;
  
 /* Added to create space between SVG and buttons */
}

.guide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

#prev-button,
#next-button {
  background-color: #666;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10%;
}

#next-button:hover {
  background-color: rgb(3, 179, 3);
}
#prev-button:hover {
  background-color: rgb(224, 9, 9);
}
.text-container {
  flex-grow: 1;
  text-align: center;
  padding: 0 20px; /* Added padding to create space between buttons and instructions */
}

#instruction {
  margin: 0;
}

/* CSS code */
/* CSS code */
.hull-point {
  fill: red; /* Change the color to your desired color */
  stroke: none;
}
@keyframes drawLine {
  from {
    stroke-dashoffset: 1000; /* Length of the dashed line */
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scalePoint {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.dot {
  fill: white;
  stroke: none;
  r: 5;
}

/* Add animation for lines */
.line {
  animation: drawLine 0.3s ease-in-out;
}

/* Add animation for points */
.dot {
  animation: scalePoint 0.5s ease forwards;
}
